<html><head> <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400i|Source+Sans+Pro:300,400,600,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">

    <!-- CSS -->
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/themefisher-fonts/themefisher-fonts.css">
    <link rel="stylesheet" href="plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="plugins/animated-text/animated-text.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap-slider.css">
    <!-- Responsive Stylesheet -->
</head>

<body id="body">

    
    <!-- navigation -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <a class="navbar-brand" href="#">STAKE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center text-lg-left">
                        <li class="nav-item">
                            <a class="nav-link" href="/"onclick= "Backtohome()">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about"onclick="about()">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/HelloAlert"onclick="hello()">SERVICE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="/form"onclick="form()">CONTACT STAKE</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- /navigation -->
 


  
	<!-- Container Start -->
	
		
			
				<!-- Title text -->
				<h1>Know your STAKE</h3>
			
		
	
	<!-- Container End -->

<section class=" section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center mb-5 mb-lg-0">
                    <img class="img-fluid" src="images/22.jpg" alt="ljzhdf"style="height:80%;width:80%">
                </div>
                <div class="col-md-6 align-self-center text-center text-md-left">
                    <div class="content">
                        <h2 class="subheading  font-weight-bold mb-10">A truly smart bike....</h2>
                       <h2>
You have a window into your bike via Stake  mobile app where you can customise the motor assist settings, track your rides, navigate with built-in maps, and receive over-the-air firmware updates.</p>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="feature-list section">
        <div class="container">
            
            <div class="row ">
                <div class="col-md-6 text-center mb-2 mb-lg-0">
                    <img class="img-fluid" src="images/23.jpg" alt=""style="height:70%">
                </div>
                <div class="col-md-6 align-self-center text-center text-md-left">
                    <div class="content">
                        <h2>70 km on one charge</h2>
                        <p>
The average battery assisted range is 70 km, giving you peace of mind on all your rides. And even if you run out of juice, you simply keep on cycling like you would on a regular bicycle. It takes just 2.5 hours for a full charge.</p>
                       </p> <a href="" class="btn btn-main btn-main-sm">Check Features</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
                    <div class="content">
                        <h4 class="subheading">Best in class Lightweight Models</h4>
                        <p>
Starting at 13.5 kg, Stake e-bike models weigh as little as lightweight city bikes, making it easy to pick up and carry them when needed.!</p>
                        <a href="#" class="btn btn-main btn-main-sm">Check Features</a>
                    </div>
                </div>
                <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
                    <img class="img-fluid" src="images/20.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        
                        <ul class="list-inline footer-menu">
                            <li class="list-inline-item">
                                <a href="/"onclick="BacktoHome()">HOME</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="/about"onclick="about()">ABOUT</a>
                            </li>
                           
                            <li class="list-inline-item">
                                <a href="/form"onclick="form()">CONTACT</a>
                            </li>
                        </ul>
                        <p class="copyright-text">Copyright &copy; <a href="http://www.batterypowered.mobi">BPM POWER PVT LTD.</a>|
                            All right reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<script src='/javascripts/main.js'></script>
 <!-- Js -->
    <script src="plugins/jquery-2.1.1.min.js"></script>
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <script src="plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="plugins/magnific-popup/jquery.magnific.popup.min.js"></script>