<html><head> <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400i|Source+Sans+Pro:300,400,600,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">

    <!-- CSS -->
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/themefisher-fonts/themefisher-fonts.css">
    <link rel="stylesheet" href="plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="plugins/animated-text/animated-text.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap-slider.css">
    <!-- Responsive Stylesheet -->
    <script type="text/javascript" defer="defer" src="//script.opentracker.net/?site=earnyourstake@herokuapp.com"></script>
</head>

<body id="body">

    
    <!-- navigation -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <a class="navbar-brand" href="#">STAKE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center text-lg-left">
                        <li class="nav-item">
                            <a class="nav-link" href="/"onclick= "Backtohome()">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about"onclick="about()">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/HelloAlert"onclick="hello()">SERVICE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="/form"onclick="form()">CONTACT STAKE</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- /navigation -->
 


  
	<!-- Container Start -->
	<div class="container"style="background-color:orange">
   
		
			
				<!-- Title text -->
				<h3>Contact Us</h3>
			
		
	</div>
	<!-- Container End -->

<!-- page title -->

<!-- contact us start-->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-us-content p-4">
                    
                    <h1 class="pt-2">Hello, what's on your mind?</h1>
                    <p class="pt-3 pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elit dolor, blandit vel euismod ac, lentesque et dolor. Ut id tempus ipsum.</p>
                </div>
            </div>
            <div class="col-md-6">
                    <form action="#">
                        <fieldset class="p-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 py-2">
                                        <input type="text" placeholder="Name *" class="form-control" required>
                                    </div>
                                    <div class="col-lg-6 pt-2">
                                        <input type="email" placeholder="Email *" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <select name="" id="" class="form-control w-100">
                                <option value="1">Select Category</option>
                                <option value="1">Laptop</option>
                                <option value="1">iPhone</option>
                                <option value="1">Monitor</option>
                                <option value="1">I need</option>
                            </select>
                            <textarea name="message" id=""  placeholder="Message *" class="border w-100 p-3 mt-3 mt-lg-4"></textarea>
                            <div class="btn-grounp">
                                <button type="submit" class="btn btn-primary mt-2 float-right"style="background-color:orange">SUBMIT</button>
                            </div>
                        </fieldset>
                    </form>
            </div>
        </div>
    </div>
</section>
<!-- contact us end -->
  </div>

</center>
<footer>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        
                        <ul class="list-inline footer-menu">
                            <li class="list-inline-item">
                                <a href="/"onclick="BacktoHome()">HOME</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="/about"onclick="about()">ABOUT</a>
                            </li>
                           
                            <li class="list-inline-item">
                                <a href="/form"onclick="form()">CONTACT</a>
                            </li>
                        </ul>
                        <p class="copyright-text">Copyright &copy; <a href="http://www.batterypowered.mobi">BPM POWER PVT LTD.</a>|
                            All right reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<script src='/javascripts/main.js'></script>
 <!-- Js -->
    <script src="plugins/jquery-2.1.1.min.js"></script>
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <script src="plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="plugins/magnific-popup/jquery.magnific.popup.min.js"></script>
