<link rel="stylesheet" href="/stylesheets/style.css">
 <center>
<h1>Alert Page</h1>
<h3>This page contains a button that give a browser alert!</h3>
<button type="submit" onclick= "AlertHello()" > Alert</button>
<button type="submit" onclick= "Backtohome()" > Home</button>
 </center>

 <script src='/javascripts/main.js'></script>