<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Grab your STAKE now.... </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- Fonts -->
    <!-- Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400i|Source+Sans+Pro:300,400,600,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">

    <!-- CSS -->
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/themefisher-fonts/themefisher-fonts.css">
    <link rel="stylesheet" href="plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="plugins/animated-text/animated-text.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Responsive Stylesheet -->
</head>

<body id="body">

    <div id="preloader-wrapper">
        <div class="pre-loader"></div>
    </div>

    <!-- navigation -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <a class="navbar-brand" href="#">STAKE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center text-lg-left">
                        <li class="nav-item">
                            <a class="nav-link" href="#">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about"onclick="about()">ABOUT</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link"  href="/form"onclick="form()">CONTACT STAKE</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- /navigation -->

    <!-- hero area -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center mb-5 mb-md-0">
                    <img src="images/e2.jpg" alt=""style="width:110%;height:100%">
                </div>
                <div class="col-md-6 align-self-center text-center text-md-left">
                    <div class="block">
                     <h3>Earn your </h3> <h1 class="font-weight-bold mb-4 font-size-60 color-grey">STAKE....</h1>
                     <br><h2 class="subheading text-orange font-weight-bold mb-10">Pre-Order now to get 33% Discount
Guaranteed delivery in 5 weeks with daily tracking update</h2>
                        
                        <a class="btn btn-main" href="www.amazon.com" role="button">Know your offers</a>
                    </div>
                </div>
            </div><!-- .row close -->
        </div><!-- .container close -->
    </section><!-- header close -->



















    <!-- 
        Feature start
        ==================== -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading">
                        <h2>Our Core Features</h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-40 text-center text-md-left">
                        
                        <h4 class="font-weight-bold mb-2">2-year warranty</h4>
                        <p>No need to worry if things break — Your bike comes with a 2-year warranty.</p>
                    </div>
                    <div class="mb-40 text-center text-md-left">
                       
                        <h4 class="font-weight-bold mb-2">Easy maintenance</h4>
                        <p>Assembly takes 5 minutes and maintenance is as simple as for any other bicycle.</p>
                    </div>
                    <div class="mb-40 text-center text-md-left">
                        
                        <h4 class="font-weight-bold mb-2">14-day free returns</h4>
                        <p>Not happy with your bike? Return it for free within 14 days after receiving it.</p>
                    </div>
                </div>
                <div class="col-md-4 text-center align-self-center mb-4 mb-md-0">
                    <img class="img-fluid" src="images/e1.jpg" alt="">
                </div>
                <div class="col-md-4">
                    <div class="mb-40 text-center text-md-left">
                        
                        <h4 class="font-weight-bold mb-2">Free shipping</h4>
                        <p>No hidden costs – we ship free within India</p>
                    </div>
                    <div class="mb-40 text-center text-md-left">
                        
                        <h4 class="font-weight-bold mb-2">Elegant Design</h4>
                        <p>Best in class design integrations with stake bikes</p>
                    </div>
                    <div class="mb-40 text-center text-md-left">
                        
                        <h4 class="font-weight-bold mb-2">Creating better commuting experiences</h4>
                        <p>Own your stake and go wherever you want ..</p>
                       
                    </div>
                </div>
            </div>
        </div><!-- .container close -->
    </section><!-- #service close -->

    <section class=" section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center mb-5 mb-lg-0">
                    <img class="img-fluid" src="images/22.jpg" alt="ljzhdf"style="height:80%;width:80%">
                </div>
                <div class="col-md-6 align-self-center text-center text-md-left">
                    <div class="content">
                        
                        <h4 class="subheading">Next generation smart bike</h4>
                     
                       <h2>
You have a window into your bike via Stake  mobile app where you can customise the motor assist settings, track your rides, navigate with built-in maps, and receive over-the-air firmware updates.</p>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="feature-list section">
        <div class="container">
            
            <div class="row ">
                <div class="col-md-6 text-center mb-2 mb-lg-0">
                    <img class="img-fluid" src="images/23.jpg" alt=""style="height:70%">
                </div>
                <div class="col-md-6 align-self-center text-center text-md-left">
                     <div class="content">
                        <h4 class="subheading">70 kms in one charge</h4>
                        <p>
The average battery assisted range is 70 km, giving you peace of mind on all your rides. And even if you run out of juice, you simply keep on cycling like you would on a regular bicycle. It takes just 2.5 hours for a full charge.</p>
                       </p> <a href="" class="btn btn-main btn-main-sm">Check Features</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
                    <div class="content">
                        <h4 class="subheading">Best in class Lightweight Models</h4>
                        <p>
Starting at 13.5 kg, Stake e-bike models weigh as little as lightweight city bikes, making it easy to pick up and carry them when needed.!</p>
                        <a href="#" class="btn btn-main btn-main-sm">Check Features</a>
                    </div>
                </div>
                <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
                    <img class="img-fluid" src="images/20.jpg" alt="">
                </div>
            </div>
        </div>
    </section>


    <section class="gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Checkout some amazing Shorts</h2>
                    </div>

                    <div class="gallery-slider">
                        <div class="block">
                            <div class="gallery-overlay">
                                <a href="images/4.jpg" class="image-popup gallery-popup">
                                    <i class="tf-ion-ios-search"></i>
                                </a>
                            </div>

                            <img class="img-fluid" src="images/5.jpg" alt="">
                        </div>

                        <div class="block">
                            <div class="gallery-overlay">
                                <a href="images/6.jpg" class="image-popup gallery-popup">
                                    <i class="tf-ion-ios-search"></i>
                                </a>
                            </div>

                            <img class="img-fluid" src="images/7.jpg" alt="">
                        </div>

                        <div class="block">
                            <div class="gallery-overlay">
                                <a href="images/8.jpg" class="image-popup gallery-popup">
                                    <i class="tf-ion-ios-search"></i>
                                </a>
                            </div>

                            <img class="img-fluid" src="images/9.jpg" alt="">
                        </div>

                        <div class="block">
                            <div class="gallery-overlay">
                                <a href="images/4.jpg" class="image-popup gallery-popup">
                                    <i class="tf-ion-ios-search"></i>
                                </a>
                            </div>

                            <img class="img-fluid" src="images/5.jpg" alt="">
                        </div>

                        <div class="block">
                            <div class="gallery-overlay">
                                <a href="images/6.jpg" class="image-popup gallery-popup">
                                    <i class="tf-ion-ios-search"></i>
                                </a>
                            </div>

                            <img class="img-fluid" src="images/6.jpg" alt="ljfyrupiyugkgofyitfukuygvcxsrd7ortyiugkjvcxfrsd7o86fpiy">
                        </div>
                        <div class="block">
                            <div class="gallery-overlay">
                                <a href="images/8.jpg" class="image-popup gallery-popup">
                                    <i class="tf-ion-ios-search"></i>
                                </a>
                            </div>

                            <img class="img-fluid" src="images/8.jpg" alt="">
                        </div>

                        <div class="block">
                            <div class="gallery-overlay">
                                <a href="images/7.jpg" class="image-popup gallery-popup">
                                    <i class="tf-ion-ios-search"></i>
                                </a>
                            </div>

                            <img class="img-fluid" src="images/7.jpg" alt="">
                        </div>

                        <div class="block">
                            <div class="gallery-overlay">
                                <a href="images/6.jpg" class="image-popup gallery-popup">
                                    <i class="tf-ion-ios-search"></i>
                                </a>
                            </div>

                            <img class="img-fluid" src="images/6.jpg" alt="">
                        </div>

                        <div class="block">
                            <div class="gallery-overlay">
                                <a href="images/5.jpg" class="image-popup gallery-popup">
                                    <i class="tf-ion-ios-search"></i>
                                </a>
                            </div>

                            <img class="img-fluid" src="images/5.jpg" alt="">
                        </div>

                        <div class="block">
                            <div class="gallery-overlay">
                                <a href="images/4.jpg" class="image-popup gallery-popup">
                                    <i class="tf-ion-ios-search"></i>
                                </a>
                            </div>

                            <img class="img-fluid" src="images/4.jpg" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="call-to-action section bg-opacity bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 text-center mx-auto">
                    <h2 class="subheading text-white">Get Product Updates</h2>
                    <p class="text-white">Know your offers and latest stake arrivals</p>
                    <div class="input-group">
                        <form action="#" class="w-100">
                            <input type="email" id="email" class="form-control" name="email" placeholder="Your Email Address Here" required>
                            <button class="btn btn-main btn-submit" type="submit">Subscribe</button>
                        </form>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
    </section><!-- #call-to-action close -->


    <section class="testimonials section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="heading">
                        <h2>Customer Review</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center">
                    <div class="testimonial-block">
                        <i class="tf-ion-quote"></i>
                        <p>
                           The price, I would give 4 stars for the current price but 6 stars for what I paid for, since I jumped onboard early, on I got a great price. 

The wheel itself I would give a 7 star rating. I love this thing. It was fairly easy to install. 
<b> HEY GUYS ,GRAB YOUR STAKE NOW</b>
                        <div class="author-details">
                            <img src="images/1.jpg" alt="">
                            <h4>J Andrew</h4>
                            <span>Daily commuter</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center">
                    <div class="testimonial-block">
                        <i class="tf-ion-quote"></i>
                        <p>
                        I have really enjoyed the bike, especially as it has meant I have been more confident taking off at junctions and in areas of high pollution where I don’t want to breathe in too much but still maintain a good speed. Even with the assistance the 15mph cut off keeps me fit!
                        </p>
                        <div class="author-details">
                            <img src="images/2.jpg" alt="">
                            <h4>J J Thompson</h4>
                            <span>Stake Rider</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center">
                    <div class="testimonial-block">
                        
                        <h1>OPENING TIMES</h1>   
STAKE showrooms are open at the following times (no appointment needed* – just turn up!):
<br>
<b>Monday-Friday: 9am-5pm
Saturday: 9am-4pm</b>

<p>
Stake showrooms are open 7 days a week by appointment. Please contact us if you would like to visit or book a demo online.


     </p>                  
                    </div>
                </div>
            </div>
            <div class="row mt-100">
                <div class="col-md-12 text-center">
                    <a href="www.amazon.com" class="btn btn-main">Grab You STAKE Now</a>
                </div>
            </div>
        </div>
    </section>



    <footer>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        
                        <ul class="list-inline footer-menu">
                            <li class="list-inline-item">
                                <a href="/"onclick="BacktoHome()">HOME</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="/about"onclick="about()">ABOUT</a>
                            </li>
                           
                            <li class="list-inline-item">
                                <a href="/form"onclick="form()">CONTACT</a>
                            </li>
                        </ul>
                        <p class="copyright-text">Copyright &copy; <a href="http://www.batterypowered.mobi">BPM POWER PVT LTD.</a>|
                            All right reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>





    <!-- Js -->
    <script src="plugins/jquery-2.1.1.min.js"></script>
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <script src="plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="plugins/magnific-popup/jquery.magnific.popup.min.js"></script>
    














 <script src='/javascripts/main.js'></script>
 </body>

</html>




